body {
    pointer-events: none;
}
                
p {
    text-align: center;
}
        
.centered {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
        
#page-title {
    font-size: 5vmin;
    white-space: nowrap;
    top: 0;
}
        
#main {
    position: absolute;
    top: 25%;
    white-space: nowrap;
    font-size: 3vmin;
}