body {
    pointer-events: none;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

a {
    pointer-events: all;
}

.centered {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

#container {
    width: 50%;
    top: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10vw
}

#character-box {
    background-color: rgba(255,0,0,1);
    text-align: center;
    font-size: 2.5vmin;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
    transition: 0.5s ease
}

#character-box:hover {
    transform: scale(1.1);
}

#image {
    width: 100%;
    object-fit: cover;
}

#title {
    font-size: 10vmin;
    top: 8vmin;
    white-space: nowrap;
}