body {
    pointer-events: none;
}

.centered {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
        
#page-title {
    font-size: xx-large;
    top: 0;
}
        
#main-paragraph {
    position: absolute;
    top: 10%;
    font-size: large;
    text-align: center;
    overflow-wrap: anywhere;
}